<!DOCTYPE html>
<html class="html"lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;700&family=Raleway:ital,wght@0,700;1,400&family=Roboto:wght@300;400;500;700;900&family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/formulario.css">
    <title>FORMULARIO</title>
</head>
<body class="home">  
    <header class="home__header">
        <article class="home__header__article1">
            <div class="home__header__article1--iconos">
                <i class="fa-solid fa-house"></i>
                <i class="fa-solid fa-info"></i>
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-trash-can"></i>
                <i class="fa-solid fa-user-gear"></i>
            </div>
            <div class="home__header__article1__div">
                <h1>producto</h1>
                <i class="fa-solid fa-user-gear"></i>
                <div>
                    <a class="home__header__article1__div-i" href=""><i class="fa-solid">153</i>ver lista</a>
                </div>
                <div>    
                    <a class="home__header__article1__div--i" href=""><i class="fa-solid fa-plus"></i>nuevo</a>
                </div>
            </div>
            <div class="home__header__article1__div1">
                <div class="home__header--box1">
                    <div>
                        <p>categoria:</p>
                    </div>
                    <div>
                        <p>nombre:</p>
                    </div>
                    <div>
                        <p>precio:</p>
                    </div>
                    <div>
                        <p>marca:</p>
                    </div>  
                </div>
                <form action="">
                    <input type="text">
                    <input type="text">
                    <input type="text">
                    <input type="text">
                </form>
            </div>  
        </article>
    </header>
    <main class="home__main">
        <article class="home__main__article2">
            <div class="home__main__div2">
                <div class="home__main--box2">
                    <div>
                        <p>provedor:</p>
                    </div>
                    <div>
                        <p>cantidad:</p>
                    </div>
                    <div>
                        <p>fecha:</p>
                    </div>
                    <div>
                        <p>imagenes:</p>
                    </div>  
                </div>
                <form action="">
                    <input type="text">
                    <input type="text">
                    <input class="home__main__article2__box2--input1" type ="text" placeholder="dd / mm / aaaa">
                    <input class="home__main__article2__box2--input2" type="text" placeholder="Imagen.png">
                </form>
            </div>
            <article>
                <div class="home__main__article__div">
                    <div>
                        <img src="/image/xavier.jpg" alt="" ><i class="fa-sharp fa-solid fa-angle-left"></i></img><i class="fa-sharp fa-solid fa-angle-right"></i>
                    </div>
                </div>
            </div>     
            </article>
        </article>
        <footer class="home__footer">    
            <article class="home__footer__article3">
               <div class="home__footer__article__div3">
                    <a href=""><i class="fa-solid fa-house"></i>inicio</a>
                    <a href=""><i class="fa-solid fa-info"></i>ayuda</a>
                    <a class="home__footer__article__div3--i" href=""><i class="fa-solid fa-plus"></i>cargar</a>
                    <a href=""><i class="fa-solid fa-trash-can"></i>borrar</a>
                    <a href=""><i class="fa-solid fa-user-gear"></i>usuario</a>
                </div>        
            </article> 
        </footer>
    </main>   
</body>
</html>